<div class="product edit">
  <form>
    <div class="fields">
      <div class="name row">
        <label>Name: </label>
        <input name="name" value="{{data.name}}" [(ngModel)]="data.name">
      </div>

      <div class="description row">
        <label>Description: </label>
        <input name="description" value="{{data.description}}" [(ngModel)]="data.description">
      </div>

      <div class="price row">
        <label>Price: </label>
        $<input name="price" value="{{data.price}}" [(ngModel)]="data.price">
      </div>

      <div class="save row">
        <input type="submit" class="save" value="Save" (click)='save()'>
      </div>
    </div>
   </form>
</div>
